<section class="butacas-container">
<button class="btn-volver" (click)="volver()">← Volver a la Película</button>

<!-- Efecto visual de la pantalla -->
<div class="contenedor-grilla">
<div class="pantalla-cine">PANTALLA</div>

<div class="grilla-butacas">
    @for (butaca of butacas; track butaca.id) {
    <div 
        class="butaca" 
        [ngClass]="butaca.estado"
        (click)="toggleButaca(butaca)"
        title="Butaca {{ butaca.id }}">
        {{ butaca.id }}
    </div>
    }
    </div>
</div>

<div class="leyenda">
    <div class="item"><span class="caja disponible"></span> Disponible</div>
    <div class="item"><span class="caja seleccionado"></span> Tu Selección</div>
    <div class="item"><span class="caja ocupado"></span> Ocupada</div>
</div>

<form [formGroup]="reservaForm" (ngSubmit)="confirmarReserva()" class="resumen-compra">
    <h3>Resumen de Selección</h3>
    
    <div class="butacas-elegidas">
      @if (butacasSeleccionadas.length === 0) {
        <p class="texto-vacio">No seleccionaste ninguna butaca todavía.</p>
      } @else {
        <p>Has seleccionado: 
          <strong>{{ butacasSeleccionadas.length }}</strong> butaca(s) 
          ( {{ nombresButacasSeleccionadas }} ) 
        </p>
      }
    </div>

    <!-- MENSAJES DE ERROR DEL CUSTOM VALIDATOR -->
    <div class="alertas-validacion">
      @if (reservaForm.get('butacas_seleccionadas')?.hasError('noMismaFila')) {
        <p class="error-msg">⚠️ Las butacas seleccionadas deben estar en la misma fila.</p>
      }
      @if (reservaForm.get('butacas_seleccionadas')?.hasError('noContiguas')) {
        <p class="error-msg">⚠️ No podés dejar asientos vacíos entre tus butacas.</p>
      }
    </div>

    <button 
      type="submit" 
      class="btn-comprar-principal" 
      [disabled]="reservaForm.invalid || butacasSeleccionadas.length === 0">
      Continuar al Pago
    </button>
  </form>

</section>